<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Posto de Saúde Web</title>
	<link rel="shortcut icon" type="image/svg" th:href="@{/img/logo.svg}"/>
	<link th:href="@{/styles/listarMedicos.css}" rel="stylesheet" />
	<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
</head>

<body>
	<a th:href="@{'/'}" class="navigation">
		<img alt="arrow" th:src="@{/img/back_arrow.svg}"/>
		Home
	</a>
	
	<img title="Exportar dados da tabela para excel" id="excel_icon" alt="excel" onclick="ExportToExcel('xlsx')"
		th:src="@{/img/excel_icon.svg}">
	
	<h1>Listagem de médicos</h1>
	<table id="table">
		<tr>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>CRM</th>
			<th>CPF</th>
			<th>Data de nascimento</th>
			<th>Celular</th>
			<th>Email</th>
		</tr>
		<tr th:each="medico : ${medicos}">
			<td th:class="${medico.nome == '' ? 'empty_data' : ''}" th:text="${medico.nome}"></td>
			
			<td th:class="${medico.sobrenome == '' ? 'empty_data' : ''}" th:text="${medico.sobrenome}"></td>
			
			<td th:class="${medico.crm == '' ? 'empty_data' : ''}" th:text="${medico.crm}"></td>
			
			<td th:class="${medico.cpf == '' ? 'empty_data' : ''}" th:text="${medico.cpf}"></td>
			
			<td th:class="${medico.data_nascimento == null ? 'empty_data' : ''}"
				th:text="${medico.data_nascimento_formatada}">
			</td>
			
			<td th:class="${medico.celular == '' ? 'empty_data' : ''}" th:text="${medico.celular}"></td>
			
			<td th:class="${medico.email == '' ? 'empty_data' : ''}" th:text="${medico.email}"></td>
			
		</tr>
	</table>

</body>

</html>

<script>

	$('#excel_icon').tooltipster({
		position: 'left',
		customClass: 'tooltipster'
	});

	function ExportToExcel(type, fn, dl) {
		var $elt = $('#table');
		var wb = XLSX.utils.table_to_book($elt[0], {sheet: "sheet1"});

		if (dl) {
			var base64data = XLSX.write(wb, {bookType: type, bookSST: true, type: 'base64'});
			window.location.href = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + base64data;
		} else {
			XLSX.writeFile(wb, fn || ('ListagemDeMedicos.' + (type || 'xlsx')));
		}
	}
</script>